@model PaginatedList<MoneyManager.Models.ExpenseType>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <div class="row pt-4">
                            <div class="col-8">
                                <h2 class="text-primary">Список витрат</h2>
                            </div>
                            <div class="col-4 text-right">
                                <div class="row">
                                    <div class="col">
                                        <a asp-controller="ExpenseType" asp-action="Create" class="btn btn-primary d-flex align-content-center">
                                            <div class="mdi mdi-plus-box-outline"></div>
                                            <div class="d-none d-md-block">Додати категорію витрат</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        @if (Model.Count() > 0)
                        {
                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <input type="text" name="SearchString" placeholder="Знайти" value="@ViewData["CurrentFilter"]" />
                                            <input type="submit" value="Пошук" class="btn btn-default" />
                                            <a asp-action="Index">Повернути весь список</a>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </form>

                            <table class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <a class="mdi mdi-sort-ascending" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Назва</a>
                                        </th>
                                        <th>
                                            Опції
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var expenseType in Model)
                                    {
                                        <tr>
                                            <td width="70%">@expenseType.Name</td>
                                            <td width="30%">
                                                <div class="btn-group" role="group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <a class="btn btn-warning mx-1 m-1" asp-controller="ExpenseType" asp-action="Update" asp-route-Id="@expenseType.Id">
                                                                <div class="mdi mdi-pencil"></div>
                                                                <div class="d-none d-md-block">Редагувати</div>
                                                            </a>
                                                        </div>
                                                        <div class="col">
                                                            <a type="button" class="btn btn-danger mx-1 m-1" asp-controller="ExpenseType" asp-action="Delete" asp-route-Id="@expenseType.Id">
                                                                <div class="mdi mdi-minus-box-outline"></div>
                                                                <div class="d-none d-md-block">Видалити</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                            <div class="row justify-content-center">
                            <div class="row">
                                <div class="col">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.FirstPage)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-outline-dark d-flex align-content-center @prevDisabled">
                                        <div class="mdi mdi-chevron-triple-left"></div>
                                        <div class="d-none d-md-block">Перша</div>
                                    </a>
                                </div>

                                <div class="col">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-outline-dark d-flex align-content-center @prevDisabled">
                                        <div class="mdi mdi-chevron-left"></div>
                                        <div class="d-none d-md-block">Попередня</div>
                                    </a>
                                </div>

                                <div class="col">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-outline-dark d-flex align-content-center @nextDisabled">
                                        <div class="d-none d-md-block">Наступна</div>
                                        <div class="mdi mdi-chevron-right"></div>
                                    </a>
                                </div>

                                <div class="col">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.LastPage)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-outline-dark d-flex align-content-center @nextDisabled">
                                        <div class="d-none d-md-block">Остання</div>
                                        <div class="mdi mdi-chevron-triple-right"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                            <p>Не знайдено ніяких витрат</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
