@model MoneyManager.Models.ViewModels.StatisticsViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Статистика</h2>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <p>Загалом витрачено:</p>
            <p>@Model.TotalExpense грн.</p>
        </div>
        <div class="row">
            <p>Загалом витрачено цього року:</p>
            <p>@Model.CurrentYearExpense грн.</p>
        </div>
        <div class="row">
            <p>Загалом витрачено цього місяця:</p>
            <p>@Model.CurrentMonthExpense грн.</p>
        </div>
        <div class="row">
            <p>Загалом витрачено цього тижня:</p>
            <p>@Model.CurrentWeekExpense грн.</p>
        </div>
    </div>
    <div>
        @{
            foreach (var a in Model.ExpenseByExpenseType)
            {
                <p>@a.Item1</p>
                <p>@a.Item2</p>
            }
        }

    </div>
</div>